{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img src="{{c.image.url}}" height="400px" width="100%">
</div><br>
<div class="container-fluid fs-4 text-center">
    <h3 class="fw-bold fs-3">{{c.name}}</h3>
    <p style="text-align:center;padding:50px;">{{c.desc}}</p>
</div>
<div class="container-fluid">
    <div class="row" style="padding-bottom:100px">
        {% for i in p %}
        <div class="col-sm-4">
            <div class="card" style="width:auto; height:auto;">
                <img src="{{i.image.url}}" class="card-img-top" alt="..." height="230px" >
                <div class="card-body">
                    <center><h5 class="card-title"><b>{{i.name}}</b></h5></center>
                    <div class="text-center">
                    <p class="card-text">{{i.desc}}</p>
                    <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary" style="width:200px;margin-left:50px;">Products</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}